// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables
lesscss-percentage(n)
  (n * 100) %

gray-darker = lighten(rgb(0, 0, 0, 1), 13.5%)
gray-dark = lighten(rgb(0, 0, 0, 1), 20%)
gray = lighten(rgb(0, 0, 0, 1), 33.5%)
gray-light = lighten(rgb(0, 0, 0, 1), 60%)
gray-lighter = lighten(rgb(0, 0, 0, 1), 93.5%)
gray-lightest = lighten(rgb(0, 0, 0, 1), 97.25%)
brand-primary = rgb(66, 139, 202, 1)
brand-success = rgb(92, 184, 92, 1)
brand-info = rgb(91, 192, 222, 1)
brand-warning = rgb(240, 173, 78, 1)
brand-danger = rgb(217, 83, 79, 1)

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match the app's branding.

@font-face
  font-family 'Gotham-Rounded-Book'
  font-style normal
  src url('/fonts/Gotham-Rounded-Book.otf')

$astro = #FF0066
$astro40 = #CC0066
$purple24 = #441B61
$gray45 = #666666
$gray116 = #747474
$gray60 = #999999
$white = #ffffff
$blue30 = #003399
$yellow44 = #F2AF2C
$bg-login = url('../../../statics/img/bg-login.png')
