$button-grey-color: #8f9aa1; //TODO: check again this color
$button-red-color: #e13148;
$button-blue-color: #3170e1;
$button-blue-font-color: #ffffff;

$button-dark-blue-color: #364c59;
$button-dark-blue-font-color: #ffffff;

$button-white-color: #efeff4;
$button-white-font-color: #425866;

$header-font-color: #2c404c;
$header-background-color: #d8e0e5;

$background-color-blue: #2CABE3;
$background-color-default: #dcdcdc;
$background-color-green: #7ACE4C;


 